<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>books list</title>
    <link rel="stylesheet" href="books.css" type="text/css" />
  </head>
  <body>
    <nav>
      <h1>Navigation Panel:</h1>
      <a href="home.html">Homepage</a>
      <a href="books.html">Books</a>
    </nav>
    <main>
      <h1>Index for books:</h1>
      <p>
        Click on the covers or titles to browse each book's detail information:
      </p>
      <ul>
        <li>
          <a href="book1.html">
            <img
              src="book1.jpg"
              alt="book 1 cover: Harry Potter"
              width="250"
              height="250"
            />
            <p>Book 1: Harry Potter and the Philospher's Stone</p>
          </a>
          <hr />
        </li>
        <li>
          <a href="book2.html">
            <img
              src="book2.jpg"
              alt="book 2 cover: The Wheel of Time"
              width="250"
              height="250"
            />
            <p>Book 2: The Wheel of Time - The Eye of the World</p>
          </a>
          <hr />
        </li>
        <li>
          <a href="book3.html">
            <img
              src="book3.jpg"
              alt="book 3 cover: The Expanse"
              width="250"
              height="250"
            />
            <p>Book 3: The Expanse - Leviathan Wakes</p>
          </a>
          <hr />
        </li>
      </ul>
    </main>
  </body>
</html>
