<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book2 details</title>
    <link rel="stylesheet" href="book2.css" type="text/css" />
  </head>
  <body>
    <nav>
      <h1>Navigation Panel:</h1>
      <a href="home.html">Homepage</a>
      <a href="books.html">Books</a>
    </nav>
    <main>
      <h1>Book descriptions:</h1>
      <div class="img-div">
        <img
          class="img"
          src="book2.jpg"
          alt="book 2 cover: The Wheel of Time"
        />

        <div class="text-div">
          <p class="text">
            <strong>Book 2: The Wheel of Time - The Eye of the World</strong>
            <br />
            First book of The Wheel of Time series by American Author Robert
            Jordan. <br />
            initially published by Tor Books (US) on Janurary 15, 1997.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
