<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book3 details</title>
    <link rel="stylesheet" href="book3.css" type="text/css" />
  </head>
  <body>
    <nav>
      <h1>Navigation Panel:</h1>
      <a href="home.html">Homepage</a>
      <a href="books.html">Books</a>
    </nav>
    <main>
      <h1>Book descriptions:</h1>
      <div class="img-div">
        <img class="img" src="book3.jpg" alt="book 3 cover: The Expanse" />

        <div class="text-div">
          <p class="text">
            <strong>Book 3: The Expanse - Leviathan Wakes</strong> <br />
            First book of The Expanse series by American Author dual Daniel
            Abraham and Ty Franck, pen name James S.A. Corey. <br />
            Initially published by Orbit Books (US) on June 15, 2011.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
