<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book1 details</title>
    <link rel="stylesheet" href="book1.css" type="text/css" />
  </head>
  <body>
    <nav>
      <h1>Navigation Panel:</h1>
      <a href="home.html">Homepage</a>
      <a href="books.html">Books</a>
    </nav>
    <main>
      <h1>Book descriptions:</h1>
      <div class="img-div">
        <img class="img" src="book1.jpg" alt="book 1 cover: Harry Potter" />

        <div class="text-div">
          <p class="text">
            <strong>Book 1: Harry Potter and the Philospher's Stone</strong>
            <br />
            First book of the Harry Potter series by British Author J.K.
            Rowling. <br />
            Initially published by Bloomsbury (UK) on June 26, 1997.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
